<div class="notice notice-info notice-large" id="upgrade-account-notice">
  <h2>Thanks for signing up. This board has user limits to combat spam, if you run into those limits you can ask in Telegram to have your limits removed. </h2>
  <div><%= link_to "I understand", "#", id: "hide-upgrade-account-notice" %></div>
</div>
